body{
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
}
.header--main{
    font-weight: normal;
    font-size: 50px;
    color: white;
}
.lnk--cta{
    font-size: 16px;
    color: aquamarine;
    text-decoration: underline;
}
.header--secondary{
    color: white;
    font-weight: 300;
    font-size: 42px;
}
.header--sub-header{
    color: gray;
    font-size: 21px;
}